@import "utils/vars";
@import "utils/mixins";

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $gradient-swiper;
    z-index: 1;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  max-width: 300px;
  z-index: 2;

  @include onDesktop {
    max-width: 720px;
  }
}

.content-top {
  position: relative;
  top: 0;
}

.slide-content p {
  text-align: center;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
  line-height: 120%; /* 18.891px */
}

.slide-button {
  color: $c-white;
  border-radius: 100px;
  border: none;
  background: linear-gradient(149deg, $c-green-light 0%, $c-green-dark 100%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:hover {
    box-shadow: 0 1px 1px 0 $c-green-light, 0 1px 20px 0 $c-green-dark;
  }
}
